body{
    margin: 0;
    padding: 0;
}
/* .container-fluid{
    margin: 0;
    padding: 0 10px;
} */


header{
    margin: 0;
    padding: 0;
}

#main-content{
    height: max-content;
    /* max-height: 800px; */
}
#sidebar-container{
    margin: 0;
    padding: 0;
    height: 100%;
}

#content{
    /* position: fixed; */
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: none;
    /* overflow: auto; */
}

/* #content section{
    height: 100px;
    border: 1.5px solid black;
} */

#footer{
    position: relative;
    margin: 0;
    padding: 0;
}

#return{
    margin-top: 20px; margin-left: 10px;
}

#return a i{
    color: black;
    font-size: 27px;
    width: 30px;
}

#return a i:hover{
    transition: transform 0.25s;
    transform: translateX(-5px);
}

/* .hide-content {
    display: none;
} */

#loading{
    height: 600px;
}
