body{
    margin: 0;
    padding: 0;
    cursor: default;
}

#introduction{
    margin: 20px auto;
    border: 1px solid black;
}

#introduction h2{
    text-align: center;
}

#introduction.introduction-collapsed {
    margin-top: 10px;
}

#aim{
    margin: 20px auto;
    border: 1px solid black;
}



@media (min-width: 992px){
   
}

  @media (min-width: 768px) and (max-width: 992px){
        #introduction{
            margin-top: 60px;
        }
        #introduction, #aim{
            width: 90%;
            font-size: 90%;
        }

        #introduction.introduction-collapsed {
            margin-top: 20px; /* or any other value you want */
          }
  }

  @media (min-width: 576px) and (max-width: 768px){
    #introduction, #aim{
        width: 90%;
        font-size: 90%;
    }
  }

  @media (max-width: 576px) {
    #introduction, #aim{
        width: 90%;
        font-size: 90%;
    }
  }
