body{
    margin: 0;
    padding: 0;
}

#main-news{
    margin-top: 30px;
    margin-left: 20px;
    height: 100%;
}

#main-news img{
    width: 50vw;
    height: 150vh;
    margin: 10px 0 10px 100px;
}

#main-news p{
    font-size: 18px;
}