body{
    margin: 0;
    padding: 0;
}

#news{
    margin: 20px auto 10px auto;
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 0 5px silver;
    position: relative;
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    /* width: 200px; */

}

#news div p a{
    text-decoration: none;
    color: black;
}

#news .card{
    margin: 10px;
}

#news div p a:hover{
    color: blue;
    text-decoration: underline;
}

@media (min-width: 992px){
    
}

  @media (min-width: 768px) and (max-width: 992px){
        #news .card{
            margin: 0 auto;
        }

        #news{
            margin-top: 60px;
        }
        #news.news-collapsed{
            margin-top: 10px;
        }

  }

  @media (min-width: 576px) and (max-width: 768px){
    #news .card{
        margin: 0 auto;
    }
  }

  @media (max-width: 576px) {
    #news .card{
        margin: 5px auto;
    }
  }
