body{
    margin: 0;
    padding: 0;
}

/* .controls{
    border: 1px solid black;
} */

.controls .headings{
    padding-left: 40px;
    margin: 10px auto;
}

.controls .buttons{
    display: flex; justify-content:flex-end;
    margin: 10px auto;
}

.controls .buttons button{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #099ae4;
}

.controls .buttons button:hover{
    background-color: #099ae4;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



#games{
    max-width: 95%;
    height: 500px;
    max-height: 800px;
    margin: 10px auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#games::-webkit-scrollbar {
    display: none; /* hide the scrollbar in webkit browsers */
  }
  
#games {
    -ms-overflow-style: none; /* hide the scrollbar in IE and Edge */
    scrollbar-width: none; /* hide the scrollbar in Firefox */
}

#games .row{
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

#games .card{
    margin: 10px;
    padding-top: 5px;
}

/* #games .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.25s;
    transform: scale(1.1);
} */

#games .card a.btn:hover{
    transition: transform 0.25s;
    transform: scale(1.1);
}