footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight:500;
    height:15%;
    /* background-color: #CF77AF; */
    background-color: #099ae4;
}